* {
    text-decoration: none;
    list-style: none;
}

html {
    height: 100%;
}

body {
    font-family: 'inter';
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    width: 35vw;
    margin: 0 auto;
}

header {
    font-family: 'roboto', 'raleway', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1C1C1C;
    padding: 0.25rem 0.75rem;
}

header #navlogo{
    margin-right: auto;
    font-family: 'Montserrat';
    font-size: 1.45rem;
    font-weight: 900;
    font-style: italic;
}

header #navlogo a{
    color: #ffffff;
    font-size: 1.25em;
    transition: all 0.1s ease 0s;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.1s ease 0s;
}

header #navlogo a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

#navlinks li{
    display: inline-block;
    margin: 0px 10px;
    font-size: 1.25em;
}

#navlinks li a{
    color: #ffffff;
    transition: all 0.2s ease 0s;
}

#navlinks li a:hover{
    color: #E10600;
}

header #book-button a button{
    cursor: pointer;
    border-radius: 6px;
    border-width: 0.05em;
    background-color: #ffffff;
    color: #E10600;
    font-size: 1.25em;
    padding: 7px 12px;
    margin-left: 10px;
    transition: all 0.4s ease 0s;
}

header #book-button a button:hover {
    background-color: #E10600;
    color: #ffffff;
}

main {
    text-align: center;
    flex: 1;
}

main #home {
    background-color: #F2F2F2;
    padding: 3rem 0 2rem 0;
}

#main-title{
    text-align: center;
}

#main-title h1{
    color: #1C1C1C;
    margin: 0;
}

#main-title #tagline {
    font-size: 1.25em;
    color: #cf0700;
}

#main-title #description {
    font-size: 1.2em;
    line-height: 1.35;
    color: #333333;
}

#experience {
    background-color: #FFFFFF;
    padding: 2rem 0 2rem 0;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#card-container h3 {
    color: #1C1C1C;
    font-size: 1.25rem;
}

#card-container p {
    line-height: 1.4;
}

.card {
    width: 300px;
    height: 450px;
    border-radius: 8px;
    background-color: #F3F3F1;
    overflow: hidden;
    box-shadow: 0px 2px 10px -7px;
    margin: 1.2rem;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.card .icon-box {
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    margin: 0 auto 1rem auto;
    color: #1C1C1C;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -10px #850400d7;
}

.icon-box.blue {
  background: #EAF2FF;
}

.icon-box.red {
  background: #FDECEC;
}

.icon-box.yellow {
  background: #FFF6DE;
}

.icon-box.green {
  background: #EAF7F1;
}

.card .card-content {
    padding: 0.5rem;
}

main #about {
    padding: 2rem 0 2rem 0;
    background-color: #F2F2F2;
    box-shadow: 0px -5px 35px -30px #383838;
}

main #about-container h2 {
    color: #1C1C1C;
}

main #about-container p {
    max-width: 70vw;
    margin: 0 auto;
    line-height: 1.5;
    color: #333333;
    background-color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 30px -15px;
}

footer {
    text-align: center;
    background-color: #1C1C1C;
    padding: 0.25rem;
}

footer #contact-container h2 {
    color: #ffffff;
}

footer #social-media {
    padding: 0.5rem 0 0;
}

footer #social-media a{
    color: #ffffff;
    padding: 0 0.25rem 0;
    transition: all 0.3s ease 0s;
}

footer #social-media a:hover{
    color: #E10600;
}

footer p {
    color: #c9c9c9;
    font-size: 0.9rem;
    opacity: 0.85;
    padding: 0.5rem 0 0;
}